In [1]:
import pandas as pd

In [16]:
st = pd.read_csv("data/student-por.csv", sep=";")
st.shape

(649, 33)

In [27]:
st["GM"] = (st["G1"] + st["G2"] + st["G3"]) / 3
st

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,goout,Dalc,Walc,health,absences,G1,G2,G3,GM,pass
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,1,1,3,4,0,11,11,7.333333,True
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,1,1,3,2,9,11,11,10.333333,True
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,2,2,3,3,6,12,13,12,12.333333,True
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,1,1,5,0,14,14,14,14.000000,True
4,GP,F,16,U,GT3,T,3,3,other,other,...,2,1,2,5,0,11,13,13,12.333333,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,...,2,1,2,5,4,10,11,10,10.333333,True
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,1,1,1,4,15,15,16,15.333333,True
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,5,6,11,12,9,10.666667,True
647,MS,M,17,U,LE3,T,3,1,services,services,...,5,3,4,2,6,10,10,10,10.000000,True
648,MS,M,18,R,LE3,T,3,2,services,other,...,1,3,4,5,4,10,11,11,10.666667,True

In [28]:
st["pass"] = st["GM"] >= 12
st

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,goout,Dalc,Walc,health,absences,G1,G2,G3,GM,pass
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,1,1,3,4,0,11,11,7.333333,False
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,1,1,3,2,9,11,11,10.333333,False
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,2,2,3,3,6,12,13,12,12.333333,True
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,1,1,5,0,14,14,14,14.000000,True
4,GP,F,16,U,GT3,T,3,3,other,other,...,2,1,2,5,0,11,13,13,12.333333,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,...,2,1,2,5,4,10,11,10,10.333333,False
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,1,1,1,4,15,15,16,15.333333,True
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,5,6,11,12,9,10.666667,False
647,MS,M,17,U,LE3,T,3,1,services,services,...,5,3,4,2,6,10,10,10,10.000000,False
648,MS,M,18,R,LE3,T,3,2,services,other,...,1,3,4,5,4,10,11,11,10.666667,False

In [29]:
st[~st["pass"]]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,goout,Dalc,Walc,health,absences,G1,G2,G3,GM,pass
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,1,1,3,4,0,11,11,7.333333,False
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,1,1,3,2,9,11,11,10.333333,False
11,GP,F,15,U,GT3,T,2,1,services,other,...,2,1,1,4,0,10,12,13,11.666667,False
18,GP,M,17,U,GT3,T,3,2,services,services,...,5,2,4,5,2,8,8,7,7.666667,False
21,GP,M,15,U,GT3,T,4,4,health,health,...,2,1,1,5,0,11,12,12,11.666667,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
643,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,3,2,2,5,4,7,9,10,8.666667,False
644,MS,F,19,R,GT3,T,2,3,services,other,...,2,1,2,5,4,10,11,10,10.333333,False
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,5,6,11,12,9,10.666667,False
647,MS,M,17,U,LE3,T,3,1,services,services,...,5,3,4,2,6,10,10,10,10.000000,False
648,MS,M,18,R,LE3,T,3,2,services,other,...,1,3,4,5,4,10,11,11,10.666667,False

In [30]:
st

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,goout,Dalc,Walc,health,absences,G1,G2,G3,GM,pass
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,1,1,3,4,0,11,11,7.333333,False
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,1,1,3,2,9,11,11,10.333333,False
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,2,2,3,3,6,12,13,12,12.333333,True
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,1,1,5,0,14,14,14,14.000000,True
4,GP,F,16,U,GT3,T,3,3,other,other,...,2,1,2,5,0,11,13,13,12.333333,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,...,2,1,2,5,4,10,11,10,10.333333,False
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,1,1,1,4,15,15,16,15.333333,True
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,5,6,11,12,9,10.666667,False
647,MS,M,17,U,LE3,T,3,1,services,services,...,5,3,4,2,6,10,10,10,10.000000,False
648,MS,M,18,R,LE3,T,3,2,services,other,...,1,3,4,5,4,10,11,11,10.666667,False

In [32]:
st[st["Walc"] == 5]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,goout,Dalc,Walc,health,absences,G1,G2,G3,GM,pass
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,...,5,5,5,5,4,12,11,12,11.666667,False
61,GP,F,16,U,GT3,T,1,1,services,services,...,5,5,5,5,0,10,10,16,12.000000,True
66,GP,M,15,U,GT3,A,4,4,other,services,...,3,5,5,3,0,11,12,12,11.666667,False
89,GP,M,16,U,LE3,A,4,4,teacher,health,...,3,3,5,5,6,9,9,10,9.333333,False
100,GP,M,16,U,GT3,T,4,4,services,services,...,5,5,5,4,12,9,9,8,8.666667,False
108,GP,M,15,R,GT3,T,4,4,other,other,...,5,3,5,1,8,12,10,11,11.000000,False
128,GP,M,16,R,GT3,T,4,4,teacher,teacher,...,5,2,5,4,8,14,14,15,14.333333,True
142,GP,M,18,U,LE3,T,3,1,services,services,...,4,4,5,4,2,11,11,12,11.333333,False
162,GP,M,15,U,LE3,A,2,1,services,other,...,5,2,5,5,0,12,11,11,11.333333,False
163,GP,M,18,U,LE3,T,1,1,other,other,...,5,2,5,4,0,11,9,0,6.666667,False
164,GP,M,16,U,LE3,T,2,1,at_home,other,...,4,3,5,5,6,9,10,10,9.666667,False
170,GP,F,18,R,GT3,T,1,1,at_home,other,...,5,1,5,4,6,11,10,11,10.666667,False
173,GP,M,16,U,LE3,T,1,2,health,services,...,5,3,5,5,0,9,8,10,9.000000,False
178,GP,M,17,R,LE3,T,1,1,other,services,...,5,1,5,5,0,8,8,8,8.000000,False
203,GP,M,17,R,GT3,T,1,2,at_home,other,...,3,1,5,3,6,9,9,10,9.333333,False
206,GP,M,17,U,GT3,T,1,2,at_home,services,...,4,4,5,5,16,10,11,12,11.000000,False
211,GP,M,16,R,LE3,T,3,3,teacher,other,...,4,3,5,3,16,10,11,12,11.000000,False
214,GP,F,16,U,GT3,T,4,3,health,other,...,5,1,5,2,2,14,14,15,14.333333,True
225,GP,M,17,U,LE3,T,4,4,services,other,...,5,4,5,3,15,13,12,12,12.333333,True
237,GP,M,18,U,GT3,T,2,2,other,other,...,3,5,5,4,9,10,9,10,9.666667,False
242,GP,M,18,U,LE3,T,2,1,at_home,other,...,2,4,5,3,2,9,10,11,10.000000,False
250,GP,M,17,U,LE3,T,2,2,other,other,...,2,5,5,4,0,16,16,16,16.000000,True
263,GP,M,18,U,GT3,T,2,2,other,services,...,4,3,5,2,16,8,7,8,7.666667,False
279,GP,M,22,U,GT3,T,3,1,services,services,...,5,5,5,1,12,7,8,5,6.666667,False
284,GP,M,18,U,GT3,T,2,1,services,services,...,5,2,5,5,4,7,8,6,7.000000,False
359,GP,F,17,R,GT3,T,3,4,at_home,services,...,4,2,5,5,2,15,15,17,15.666667,True
378,GP,M,17,U,GT3,T,3,3,other,services,...,5,3,5,5,0,17,18,17,17.333333,True
379,GP,M,17,R,GT3,T,2,2,services,other,...,5,5,5,4,2,11,10,10,10.333333,False
382,GP,F,17,U,GT3,T,3,3,at_home,other,...,5,2,5,5,2,11,12,11,11.333333,False
418,GP,M,18,R,GT3,T,2,3,other,services,...,3,4,5,4,13,13,14,14,13.666667,True
433,MS,F,15,R,GT3,T,4,4,teacher,other,...,1,3,5,5,0,13,14,14,13.666667,True
440,MS,M,16,U,GT3,T,1,1,at_home,services,...,5,4,5,3,0,7,0,0,2.333333,False
447,MS,M,17,R,GT3,T,2,1,other,other,...,5,5,5,3,8,8,10,9,9.000000,False
457,MS,M,17,R,LE3,T,1,2,at_home,services,...,5,5,5,3,4,10,11,11,10.666667,False
474,MS,M,15,R,LE3,T,1,3,at_home,other,...,4,3,5,3,2,10,11,11,10.666667,False
493,MS,F,17,U,GT3,T,0,1,other,at_home,...,4,3,5,5,5,9,9,10,9.333333,False
500,MS,M,17,U,GT3,T,1,2,other,other,...,5,5,5,1,12,6,7,7,6.666667,False
501,MS,M,16,U,LE3,T,4,3,other,other,...,5,1,5,5,8,14,12,13,13.000000,True
502,MS,M,17,R,LE3,T,2,2,services,services,...,5,3,5,3,2,10,8,9,9.000000,False
523,MS,M,18,U,LE3,T,4,4,at_home,health,...,5,5,5,5,2,5,6,6,5.666667,False
530,MS,M,17,U,GT3,T,3,3,services,services,...,4,5,5,3,8,7,10,9,8.666667,False
534,MS,M,16,U,LE3,T,4,4,teacher,health,...,2,2,5,5,0,11,12,12,11.666667,False
558,MS,M,17,R,GT3,T,2,2,other,other,...,5,3,5,5,0,8,13,10,10.333333,False
576,MS,M,18,R,GT3,T,3,2,other,other,...,5,5,5,5,8,9,10,11,10.000000,False
598,MS,M,18,U,LE3,T,1,2,at_home,services,...,4,5,5,1,8,10,11,11,10.666667,False

In [34]:
st.drop("G1", axis=1).drop("G2", axis=1).drop("G3", axis=1).drop("GM", axis=1).to_csv("data/students.csv", index=False)